@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playball&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Playball&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  box-shadow: rgb(128, 128, 128) 0px 0px 5px 0px;
}

.nav-bg{
  background: rgb(15, 33, 122);
  background: radial-gradient(
    circle,
    rgba(15, 33, 122, 1) 0%,
    rgba(4, 8, 28, 1) 75%
  );
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../public/assets/hero-bg.jpg");
  background-size: cover;
  background-position: center;
}

/* .hero-p {
  font-family: "Satoshi", sans-serif;
  font-weight: 900;
} */

.bg-text {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

@media (max-width: 767px) {
  .bg-text {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .hero p {
    font-size: 15px;
  }
}
/* .logo{
font-family: "Amazing Kids", sans-serif;
} */

/* Terminals style */
.aba-bg {
  background-image: url("../../public/assets/aba.jpeg");
  background-size: cover;
  background-position: center;
}

.festac-bg {
  background-image: url("../../public/assets/festac.jpg");
  background-size: cover;
  background-position: center;
}

.abuja-bg {
  background-image: url("../../public/assets/abuja.jpg");
  background-size: cover;
  background-position: center;
}

.enugu-bg {
  background-image: url("../../public/assets/enugu.jpg");
  background-size: cover;
  background-position: center;
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.content-div:hover {
  background-image: linear-gradient(
    to right,
    rgba(112, 157, 255, 0.8),
    hsla(242, 74%, 61%, 0.8)
  ) !important;
}

/* Contact style */
.contact-form {
  box-shadow: rgba(8, 33, 90, 0.2) 0px 0px 30px 0px;
}

/* Gallery style */
.mySwiper {
  width: 100%;
  height: 50%;
}

.swiper-slide {
  border-radius: 0.375rem;
}

.swiper-slide img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

/* Our Destination style */
.swiper-zoom-container img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.mySwiper_destination {
  width: 100%;
  height: 50%;
}

.about-image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid black;
  background: transparent;
  border-radius: 5px;
  font-size: 15px;
}

.card-image {
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.choose-image{
  width: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.testimonial-bg {
  background: rgb(23, 47, 164);
  background: radial-gradient(
    circle,
    rgba(23, 47, 164, 1) 0%,
    rgba(64, 82, 173, 1) 75%,
    rgba(201, 201, 201, 1) 100%
  );
}

.footer-bg {
  background: rgb(15, 33, 122);
  background: radial-gradient(
    circle,
    rgba(15, 33, 122, 1) 0%,
    rgba(4, 8, 28, 1) 75%
  );
}

.about-bg {
  background: rgb(15, 33, 122);
  background: radial-gradient(
    circle,
    rgba(15, 33, 122, 1) 0%,
    rgba(4, 8, 28, 1) 75%
  );
}

.about-box {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.abd {
  background-image: url(../../public/assets/about-yk.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: auto;
    /* filter: blur(8px);
  -webkit-filter: blur(2px); */
}

.core-values{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px 0px, rgba(0, 0, 0, 0.125) 0px -1px 1px 0px;
}

.terminal-bg{
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;;
}